.main {
  max-width: 1600px;
  background-color: #f5f6fa;
  margin: auto;
  padding-top: 20px;
  font-family: Arial;
}
  
header {
  max-width: 1400px;
  background-color: #fff;
  color: $main-color;
  margin: auto;
  padding: 29px;
  box-sizing: border-box;
  font-size: 30px;
}