table {
  width: 100%;
  border-spacing: 0 15px;
}

.table-container {
  margin: auto;
  max-width: 1200px;
  overflow-x: auto;
}

.error-div {
  margin-top: 30px;  
}

.error {
  color: #f00;
  text-align: center;
}
