.page-button {
  margin-right: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.page-container {
  text-align: center;
}

.selected {
  background-color: $main-color;
  color: #fff;
}
