 tr {
  height: 120px;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fff;
}

 .remove-button {
  padding: 10px 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: $main-color;
}

h3, p {
  margin: 0.3em;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  width: 40%;
  height: 60px;
}

.circle {
  stroke: $main-color;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circle-shadow {
  stroke: #ddd;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

td:nth-of-type(1) {
  padding: 10px;
}

td:nth-of-type(2) {
  text-align: center;
}

td:nth-of-type(3) {
  padding: 0 10px;
}

@media screen and (max-width: 450px){
  button {
    font-size: 0.6em;
  }

  .circular-chart {
    width: 80%;
  }

  td:nth-of-type(2) {
    font-size: 0.7em;
  }
}

