.selector-container {
  text-align: center;
}

.chapter-select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.update-button {
  padding: 5px 10px;
  background-color: $main-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}